<div class="container">
    <div class="row">
        <div class="col-sm gif" style="margin-top: 130px;">
            <img src="../static/images/3.gif">
        </div>
        <div class="col-sm" style="margin-top: 130px;">
            <span class="klasikbaslik"> Bize Ulaşın </span>
            <div class="bosluk"></div>
            <span class="phoneemailsocial"> TELEFON </span> <span class="phoneemailsocialtext"> (123) 456 78 90 </span>
            <div class="kucukbosluk"></div>
            <span class="phoneemailsocial"> EMAİL </span> <span class="phoneemailsocialtext"> <a
                    href="mailto:burhankaratas771@gmail.com" style="color: white; text-decoration: none">
                    burhankaratas771@gmail.com </a> </span>
            <div class="kucukbosluk"></div>
            <span class="phoneemailsocial"> SOSYAL </span> <span class="phoneemailsocialtext"> <a
                    href="https://www.instagram.com/karatasweb" target="_blank" class="sociallink"> <i
                        class="fa-brands fa-instagram"></i> </a> <a href="#" target="_blank" class="sociallink"> <i
                        class="fa-brands fa-discord"></i> </a> <a href="https://burhankaratas.com.tr" target="_blank"
                    class="sociallink"> <i class="fa-solid fa-link"></i> </a> </span>

        </div>
    </div>
</div>