{% extends 'layout.html' %}

{% block head %}
<title> KaratasWeb - Ekipler </title>
{% endblock head %}

{% block body %}

<div class="container">
    <div class="row" style="margin-top: 150px;">
        <div class="col-sm">
            <img src="../static/images/kalem.png" height="100" style="margin-bottom: 20px;">
            <span class="klasikbaslik"> TASARIM EKİBİ </span>
            <span class="onaltilik" style="margin-top: 10px;"> Tasarım ekibi hayalinizdeki web sitesini kağıda
                döküyor. Hayallerinizi
                tasarlıyor! En kaliteli tasarımları koda döken ekibimiz ile en iyi kullanıcı arayüzüne sahip web
                siteleri geliştirebiliyoruz.Tasarım ekibi hayalinizdeki web sitesini kağıda döküyor. Hayallerinizi
                tasarlıyor! En kaliteli tasarımları koda döken ekibimiz ile en iyi kullanıcı arayüzüne sahip web
                siteleri geliştirebiliyoruz. </span>
        </div>
    </div>
    <div class="row" style="margin-top: 150px;">
        <div class="col-sm">
            <div class="col-sm">
                <img src="../static/images/pc.png" height="100" style="margin-bottom: 20px;">
                <span class="klasikbaslik"> YAZILIM EKİBİ </span>
                <span class="onaltilik" style="margin-top: 10px;"> Yazılım Ekibi, Tasarım ekibinin tasarladığı
                    sayfaları koda döküp arka plan işlemlerini geliştiriyor. Hayalinizi gerçekleştirecek ekip!
                    Genelde Önyüzü Html, Css, Javascript, Bootstrap ile koda dökerken arkayüzü ise Python, Flask ile
                    koda döküyoruz. İsteğe bağlı basit işlerde Node.js de kullanabiliyoruz. </span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 150px;">
        <div class="col-sm">
            <div class="col-sm">
                <img src="../static/images/list.png" height="100" style="margin-bottom: 20px;">
                <span class="klasikbaslik"> TEST EKİBİ </span>
                <span class="onaltilik" style="margin-top: 10px;">Test ekibi ile yapılan son testlerden sonra artık
                    web siteniz hazır! Hizmet kalitesini kontrol ettikten sonra web siteniz artık yayına hazır!
                </span>
            </div>
        </div>
    </div>
</div>


<br><br>

{% endblock body %}