{% extends 'layout.html' %}

{% block head %}
<title> KaratasWeb - Paketler </title>
{% endblock head %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm" style="margin-top: 150px;">
            <span class="devbaslik" style="color: #02C37E;"> Aklınızda Bir <br> Fikir mi Var?</span>
            <span class="yirmilik"> Size en uygun ve en ekonomik paketleri sunuyoruz. <br> Birini seçin ve hemen fikrinizi koda dökmeye başlayalım!</span>
            <br>
            <a href="/teklifal"> <button class="yesilbutton"> Teklif Al </button> </a>
        </div>
        <div class="col-sm gif" style="margin-top: 50px;">
            <img src="../static/images/kitaplikadin.png" draggable="false">
        </div>
    </div>
    <div class="row" style="margin-top: 100px;">
        <div class="col-sm">
            <span class="klasikbaslik"> Kişiselleştirilmiş <br> Paketler </span>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm">
            <br>
            <div class="paketlerkutu">
                <div style="text-align: center; margin-bottom: 30px">
                    <span class="klasikbaslik"> Temel </span>
                    <span style="font-size: 17px; color: #1DCD8D; font-weight: bolder"> 100- 500 TL </span>
                </div>
                

                <ul style="list-style-type: none;">
                    <li class="paketozellik"><img src="../static/images/tik.png" height="20"> <span class="onikilik"> Statik Web Sitesi </span></li>
                    <li class="paketozellik"><img src="../static/images/tik.png" height="20"> <span class="onikilik"> Ücretsiz Alan Adı Kullanımı </span></li>
                    <li class="paketozellik"><img src="../static/images/tik.png" height="20"> <span class="onikilik"> 1 - 3 Sayfa Tasarımı  </span></li>
                    <li class="paketozellik"><img src="../static/images/red.png" height="20"> <span class="onikilik"> Giriş Kayıt İşlemleri </span></li>
                    <li class="paketozellik"><img src="../static/images/red.png" height="20"> <span class="onikilik"> Veritabanı İşlemleri </span></li>
                    <li class="paketozellik"><img src="../static/images/red.png" height="20"> <span class="onikilik"> Özel Alan Adları İçin Ek Ücret Gerekir </span></li>
                </ul>
                <div style="text-align: center;">
                    <a href="/teklifal"> <button class="yesilbutton"> Teklif Al </button> </a>
                </div>
                <br>
            </div>
        </div>
        <div class="col-sm">
            <br>
            <div class="paketlerkutu">
                <div style="text-align: center; margin-bottom: 30px">
                    <span class="klasikbaslik"> Pro </span>
                    <span style="font-size: 17px; color: #1DCD8D; font-weight: bolder"> 500- 1000 TL </span>
                </div>
                

                <ul style="list-style-type: none;">
                    <li class="paketozellik"><img src="../static/images/tik.png" height="20"> <span class="onikilik"> Statik, Dinamik Web Sitesi </span></li>
                    <li class="paketozellik"><img src="../static/images/tik.png" height="20"> <span class="onikilik"> Ücretsiz Alan Adı Kullanımı </span></li>
                    <li class="paketozellik"><img src="../static/images/tik.png" height="20"> <span class="onikilik"> 5 - 20 Sayfa Tasarımı  </span></li>
                    <li class="paketozellik"><img src="../static/images/tik.png" height="20"> <span class="onikilik"> Email İşlemleri, Mesaj Formu </span></li>
                    <li class="paketozellik"><img src="../static/images/red.png" height="20"> <span class="onikilik"> Veritabanı İşlemleri </span></li>
                    <li class="paketozellik"><img src="../static/images/red.png" height="20"> <span class="onikilik"> Özel Alan Adları İçin Ek Ücret Gerekir </span></li>
                </ul>
                <div style="text-align: center;">
                    <a href="/teklifal"> <button class="yesilbutton"> Teklif Al </button> </a>
                </div>
                <br>
            </div>
        </div>
        <div class="col-sm">
            <br>
            <div class="paketlerkutu">
                <div style="text-align: center; margin-bottom: 30px">
                    <span class="klasikbaslik" style="color: #5271FF;"> Kompleks </span>
                    <span style="font-size: 17px; color: #5271FF; font-weight: bolder"> 1000 TL+ </span>
                </div>
                

                <ul style="list-style-type: none;">
                    <li class="paketozellik"><img src="../static/images/tik.png" height="20"> <span class="onikilik"> Statik Web Sitesi </span></li>
                    <li class="paketozellik"><img src="../static/images/tik.png" height="20"> <span class="onikilik"> Ücretsiz Alan Adı Kullanımı </span></li>
                    <li class="paketozellik"><img src="../static/images/tik.png" height="20"> <span class="onikilik"> 20+ Sayfa Tasarımı  </span></li>
                    <li class="paketozellik"><img src="../static/images/tik.png" height="20"> <span class="onikilik"> Email İşlemleri, Mesaj Formu vb. </span></li>
                    <li class="paketozellik"><img src="../static/images/tik.png" height="20"> <span class="onikilik"> Veritabanı Gereksinimleri </span></li>
                    <li class="paketozellik"><img src="../static/images/red.png" height="20"> <span class="onikilik"> Özel Alan Adları İçin Ek Ücret Gerekir </span></li>
                </ul>
                <div style="text-align: center;">
                    <a href="/iletisim"> <button class="yesilbutton" style="background-color: #5271FF;"> İletişime Geç </button> </a>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 100px;">
        <div class="col-sm">
            <span class="klasikbaslik"> Özelleştirilmiş <br> Paketler </span>
            <span class="onaltilik" style="margin-top: 10px;"> Aradığınız paketi bulamadınız mı? Kompleks bir paket mi oluşturacaksınız? Bize yazın ve size özel bir fiyat ve paket sunalım.  </span>
            <a href="/iletisim"> <button class="yesilbutton"> İletişime Geç </button> </a>
        </div>
    </div>
</div>


<br><br>
{% endblock body %}